body {
  margin: 0;
  font-family: monospace, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

 

}

/* code {
  font-family: monospace, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */


.App {
  width: 300px;
  border-radius: 15px;
  background-color: #f0f0f0;
  padding: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;

}

button {
  display: block;
  width: 100%;
  text-align: center;
  background-color: #e0e0e0;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 10px;

}
#title {
    font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: #c8d6af; /* light green */
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
}

#container {
  background-color: #a56767; /* pinkish color */
  padding: 15px;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  line-height: 1.5;

}

.cat-image {
  width: 200px;
  height: 200px;
  position: absolute;
  right: 0;
  top: 10px;
  transform: rotate(20deg);
}